<div id="<%= dom_id transaction %>">
  <p>
    <strong>Ticker:</strong>
    <%= transaction.ticker %>
  </p>

  <p>
    <strong>Buy price:</strong>
    <%= transaction.buy_price %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= transaction.quantity %>
  </p>

  <p>
    <strong>Sell price:</strong>
    <%= transaction.sell_price %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= transaction.status %>
  </p>

  <p>
    <strong>Buyed at:</strong>
    <%= transaction.buyed_at %>
  </p>

  <p>
    <strong>Selled at:</strong>
    <%= transaction.selled_at %>
  </p>

</div>
